* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #222;
}
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 20px;
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img {
    width: 16px;
}
.weather-icon {
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 400;
    margin-top: -10px;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind {
    margin-top: -6px;
    font-size: 28px;

}
.weather {
    display: none;
}
.city-image {
    width: 100%; /* Make the image fill its container */
    max-height: 200px; /* Set a maximum height to avoid stretching */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px; /* Add border-radius for rounded corners */
    margin-top: 20px; /* Adjust margin as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
/* Existing styles */

/* Add a media query for smaller screens */
@media only screen and (max-width: 600px) {
  .search {
    flex-direction: row; /* Display items horizontally */
    align-items: center; /* Center items vertically */
  }

  .search input {
    width: 70%; /* Adjust the input width */
    margin-right: 10px; /* Add right margin for spacing */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }

  .search button {
    width: 60px; /* Adjust the button width */
    height: 40px; /* Adjust button height */
    margin-right: 10px; /* Add right margin */
    padding: 3px; /* Adjust padding */
  }

  .search button img {
    width: 12px;
  }
}
